html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #342f36;
  color: #efefef;
  font-family: 'Comic Sans MS';
  font-size: 16px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 2px 3px #342f36;
}

.content.playing h1, .content.playing button {
  animation-name: dance;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: 3;
}

.content, .hold-please {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content {
  animation-name: fade-in;
  animation-duration: 3.6s;
}

.content.playing:after {
  content: '';
  background-image: url(cat-party.gif);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation-name: example;
  animation-duration: 3.6s;
}

.hold-please {
  position: absolute;
  background-image: url(hold-please.gif);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  display: none;
}

.hold-please.holding {
  display: flex;
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 1.6s;
}

.hold-please.holding h1 {
  animation-name: slide-up;
  animation-duration: 1s;
}

.hold-please.done {
  display: flex;
  animation-name: fade-out;
  animation-duration: 1.6s;
}

.hold-please.done h1 {
  animation-name: slide-down;
  animation-duration: 1.2s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes slide-up {
  0% { margin-top: 1000px; }
  100% { margin-top: 0px; }
}

@keyframes slide-down {
  0% { margin-top: 0px; }
  100% { margin-top: 1000px; }
}

@keyframes dance {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg);}
  75% { transform: rotate(-15deg);}
  100% { transform: rotate(0deg);}
}

@keyframes example {
  0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}

button {
  box-shadow: 0 0 0 4px #368557, 0 10px 0 4px #2f7842;
  width: 200px;
  height: 200px;
  background-color: #43e686;
  color: white;
  text-shadow: 0 2px 0 rgba(54, 130, 87, 0.5);
  font-family: 'Comic Sans MS';
  font-size: 2em;
  border: none;
  border-radius: 400px;
  outline: none;
  margin-top: 2em;
}

